.nav {
    background-color: rgba(5, 5, 5, 0.94);
    height: 80px;
    display: flex;
    flex-direction: row;
    
}

.links {
    display: flex;
    justify-self: flex-end;
    padding-left: 20%;
    gap: 30px;
}

.link {
    text-decoration: none;
    color:darkkhaki;
    align-self: center;
    font-size: larger;
}

.title {
    color:cornsilk;
    justify-self: center;
    padding-left: 5%;
    align-self: center;
    width: 60%;
    font-size: 250%;
}

.image {
    width: 5%;
}