.h1 {
    color: rgb(255, 207, 16);
    font-style: italic;
    font-size: 650%;
    margin-left: 40%;
    margin-top: 20px;
}

.cardlist {
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    overflow-x: auto;
    padding: 10px;
    margin-top: 50px;
    justify-content: space-evenly;
}