.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(10, 14, 3, 0.596);
    margin: 20px;
    height: 85vh;
}

.title {
    color: cornsilk;
    padding-left: 35%;
    padding-top: 2%;
    font-size: 550%;
 
}

.text {
    padding: 50px;
    color: cornsilk;
    font-size: xx-large;
    align-self: center;
}

.em {
    color: chartreuse;
}

.h2 {
    color: chartreuse;
    align-self: center;
    padding-bottom: 10px;
    padding-top: 100px;
}

.link {
    text-decoration: none;
    color:black;
    align-self: center;
    font-size: 200%;
    font-weight: 400;
    background-color:greenyellow;
    border-radius: 9px;
    width: 10%;
    text-align: center;
}