.h1 {
    color: cornsilk;
    font-style: italic;
    font-size: 450%;
    margin-left: 5%;
    margin-top: 20px;
}

.city {
    color: cornsilk;
    padding-left: 0%;
}

.input {
    width: 14.5%;
    text-align: center;
}

.date {
    margin-left: 45%;
}

.text {
    color: cornsilk;
    padding-left: 40px;
}

.button {
    background-color: greenyellow;
    font-size: large;
    font-weight: 400;
    border-radius: 9px;
    margin-left: 0%;
    width: 10%;
}
.cardlist {
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    overflow-x: auto;
    padding: 10px;
    margin-top: 50px;
    justify-content: space-evenly;
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
}