.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.registersection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 550px;
    height: 450px;
    background-color: rgba(73, 73, 73, 0.4);
    border-radius: 9px;
}
.h1 {
    color: cornsilk;
    font-size: 250%;
}

.label {
    color: cornsilk;
}

.input {
    width: 60%;
    height: 9%;
    border-radius: 7px;
    text-align: center;
}

.button {
    background-color:palegoldenrod ;
    width: 50%;
    text-align: center;
    border-radius: 9px;
}